<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8" />

		<title>NIX - TEMPLATE</title>

		<link rel = "stylesheet" href = "nix.css" />

		<script type = "text/javascript" src = "modernizr.js"></script>

		<style>

		</style>
	</head>

	<body>
		<div class = "nix-row">
			<div class="column-group half-top-space">
                <div class="all-33">
                    <div class="column-group">
                        <div class="all-50 align-center"><a href="#" class="nix-button">Button</a></div>
                        <div class="all-50 align-center"><button class="nix-button green">Button</button></div>
                    </div>
                </div>
                <div class="all-33">
                    <div class="column-group">
                        <div class="all-50 align-center"><button class="nix-button pill medium orange">Button</button></div>
                        <div class="all-50 align-center"><button class="nix-button red">Button</button></div>
                    </div>
                </div>
                <div class="all-33">
                    <div class="column-group">
                        <div class="all-50 align-center"><button class="nix-button blue">Button</button></div>
                        <div class="all-50 align-center"><button class="nix-button black">Button</button></div>
                    </div>
                </div>
            </div>
            <div class="column-group half-vertical-space">
                <div class="all-33">
                    <div class="column-group">
                        <div class="all-50 align-center"><button class="nix-button" disabled="">Button</button></div>
                        <div class="all-50 align-center"><button class="nix-button green" disabled="">Button</button></div>
                    </div>
                </div>
                <div class="all-33">
                    <div class="column-group">
                        <div class="all-50 align-center"><button class="nix-button orange" disabled="">Button</button></div>
                        <div class="all-50 align-center"><button class="nix-button red" disabled="">Button</button></div>
                    </div>
                </div>
                <div class="all-33">
                    <div class="column-group">
                        <div class="all-50 align-center"><button class="nix-button blue" disabled="">Button</button></div>
                        <div class="all-50 align-center"><button class="nix-button black" disabled="">Button</button></div>
                    </div>
                </div>
            </div>

            <div class="all-100">
            	<form action="" class="nix-form all-50 small-100 tiny-100">
                    <fieldset>
                    	<legend>Form Data</legend>
                        <div class="control-group required column-group gutters">
                            <label for="first-name" class="all-20 align-right">Name</label>
                            <div class="control all-40">
                                <input type="text" id="first-name">
                                <p class="tip">First Name</p>
                            </div>
                            <div class="control all-40">
                                <input type="text" id="last-name">
                                <p class="tip">Last Name</p>
                            </div>
                        </div>

                        <div class="control-group required column-group gutters">
                            <label for="email" class="all-20 align-right">Email</label>
                            <div class="control all-80">
                                <input type="text" id="email">
                            </div>
                        </div>

                        <div class="control-group column-group gutters">
                            <label for="area" class="all-20 align-right">Description</label>
                            <div  class="control all-80">
                                <textarea id="area"></textarea>
                            </div>
                        </div>

                        <div class="control-group column-group gutters">
                            <label for="file-input" class="all-20 align-right">File input</label>
                            <div  class="control all-80">
                                <div class="input-file">
                                    <input type="file" name="" id="file-input">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
		</div>
	</body>
</html>