.push-left {
	float: left !important;
}

.push-right {
	float: right !important;
}

.push-center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}

.text-justify {
	text-align: justify !important;
}

.no-margin {
	margin: 0 !important;
}

	.no-margin-horizontal {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.no-margin-vertical {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.no-margin-top {
		margin-top: 0 !important;
	}

	.no-margin-right {
		margin-right: 0 !important;
	}

	.no-margin-bottom {
		margin-bottom: 0 !important;
	}

	.no-margin-left {
		margin-left: 0 !important;
	}

.no-padding {
	padding: 0 !important;
}

	.no-padding-horizontal {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	.no-padding-vertical {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.no-padding-top {
		padding-top: 0 !important;
	}

	.no-padding-right {
		padding-right: 0 !important;
	}

	.no-padding-bottom {
		padding-bottom: 0 !important;
	}

	.no-padding-left {
		padding-left: 0 !important;
	}

.no-border {
	border: 0 !important;
}

	.no-border-horizontal {
		border-top: 0 !important;
		border-bottom: 0 !important;
	}

	.no-border-vertical {
		border-left: 0 !important;
		border-right: 0 !important;
	}

	.no-border-top {
		border-top: 0 !important;
	}

	.no-border-right {
		border-right: 0 !important;
	}

	.no-border-bottom {
		border-bottom: 0 !important;
	}

	.no-border-left {
		border-left: 0 !important;
	}