/*
 * Borders Configurations
 */
$default-border-color 		: $color-grey-50;
$default-border-size 		: 1px;
$default-border-type 		: solid;
$default-border-radius 		: 3px;
$default-border-light 		: 0.8;
$default-border-light-size 	: 1px;
$default-border-light-type 	: solid;