/*
 * Shadows Configurations
 */
$default-shadow-color				: fade-out( $color-black, 0.6 );
$default-shadow-size				: 3px;
$default-shadow-vertical-offset 	: 0px;
$default-shadow-horizontal-offset 	: 0px;