/*
 * Sizes Configurations
 */

$default-size-width 		: 0px;
$default-size-width-min 	: false;
$default-size-width-max 	: false;
$default-size-height 		: 0px;
$default-size-height-min 	: false;
$default-size-height-min 	: false;