/*
 * Transfroms Configurations
 */

$default-transform-rotate 			: 0deg;
$default-transform-scale-x 			: 1;
$default-transform-scale-y 			: 1;
$default-transform-scale-z 			: 1;
$default-transform-translate-x 		: 0px;
$default-transform-translate-y 		: 0px;
$default-transform-translate-z 		: 0px;
$default-transform-easing-x 		: 0px;
$default-transform-easing-y 		: 0px;
$default-transform-easing-z 		: 0px;
$default-transform-easing-speed 	: 0.2s;