@mixin button ( $class-name : $button-class-name ) {
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    @include text-decoration( none );
    @include text-align( center );
    @include text-vertical-align( middle );
    @include text-line-height( normal );
    @include display( inline-block );

    & + .#{$class-name} {
        @include margin-left( $default-space );
    }

}

@mixin button-size ( $height : $default-button-height, $padding : $default-button-padding, $font-size : $default-button-font-size ) {
	@include height( $height );
    @include padding( $padding );
    @include font-size( $font-size );
}

@mixin button-shape ( $button-shape ) {

    // Pill
    @if $button-shape == pill {
        @include border-radius( 100px );
    }
    // Square
    @else if $button-shape == square {
        @include border-radius( 0px);
    }
    // Rounded
    @else {
        @include border-radius( );
    }

}

@mixin button-group ( $button-background-color ) {

    &:first-child {
        border-left: shade( $button-background-color, 15% );
    }

    &[disabled]{
        background: transparentize( $button-background-color, 0.4 );
        border: 1px solid transparentize( $button-background-color, .7 );
    }

}

@mixin generate-buttons ( $breakpoints : $button-breakpoints ) {

    .#{$button-class-name} {
        @include button( $button-class-name );
         @include button-size( );

        @each $breakpoint in $breakpoints {

            $class-name         : nth( $breakpoint, 1 );
            $height         	: nth( $breakpoint, 2 );
            $padding            : nth( $breakpoint, 3 );
            $base-font-size     : nth( $breakpoint, 4 );

            &.#{$class-name} {
                @include button-size( $height, $padding, $base-font-size );
            }

            &.#{$button-shape-pill-class-name} {
                @include button-shape( 'pill' );
            }

            &.#{$button-shape-square-class-name} {
                @include button-shape( 'square' );
            }

            &.#{$button-shape-rounded-class-name} {
                @include button-shape( 'rounded' );
            }
        }

        -webkit-transition: border 0.2s ease-out, background 0.2s ease-out;
        -moz-transition: border 0.2s ease-out, background 0.2s ease-out;
        -ms-transition: border 0.2s ease-out, background 0.2s ease-out;
        -o-transition: border 0.2s ease-out, background 0.2s ease-out;
        transition: border 0.2s ease-out, background 0.2s ease-out;
    }
}

@mixin generate-button-group ( ) {

    .#{$button-group-class-name} {

        & > .#{$button-class-name}  {

            @include float-left( );
            @include margin( $default-button-spacing 0 );
            @include border-radius( 0 );
            @include border-no-left( );

            &:hover,
            &:active {
                @include border-no-left( );
            }

            &:first-child {
                @include border-left( darken( $grey-15,10% ) );
                @include border-radius( $button-border-radius 0 0 $button-border-radius );
            }

            &:last-child {
                @include border-radius( 0 $button-border-radius $button-border-radius 0 );
            }
        }

        @include pie-clearfix;
    }

}

@mixin generate-button-toolbar ( ) {

    .#{$button-toolbar-class-name} {

        & > .#{$button-group-class-name} {
            @include margin-right( $default-button-spacing * 2 );
            @include float-left( );
        }

        @include pie-clearfix;

    }

}

@include generate-buttons ( );